@import 'nib';
@import 'colors';


* { box-sizing: border-box; }
body, html, #map { size: 100%; margin: 0; padding: 0; }


icon-color(color) {
  fill: color;
  stroke: color;
}
.icon {
  .fill, .text { stroke: none !important; }
  .stroke { fill: none !important; }
  & * { fill: #333; stroke: #333; }
}

.leaflet-control {
  .control-button {
    text-align: center;
    cursor: pointer;
    line-height: 32px;
  }
}
.leaflet-right .leaflet-control.mapbox-control-info { margin-right: 12px; }

@keyframes locating-pulse {
  0% { icon-color: orange; }
  50% { icon-color: darkgray; }
  100% { icon-color: orange; }
}
.icon-locate-on * { icon-color: orange; }
.icon-locate-searching * { animation: locating-pulse .8s infinite ease; }
