* { box-sizing: border-box; }
body, html, #map { size: 100%; margin: 0; padding: 0; line-height: 1.4em; }
body { font-size: 13px; font-family: Arial, sans-serif; color: $text-color; }
input { font-size: inherit; }
small { font-size: 11px; }
a { cursor: pointer; }

.text-muted { color: #999; }
.clear { clear: both; }
.hide { display: none; }
.pull-right { float: right; }

icon-color(color) {
  fill: color;
  stroke: color;
}
.icon {
  .fill, .text { stroke: none !important; }
  .stroke { fill: none !important; }
  & * { fill: #333; stroke: #333; }
}
svg { outline: 0 none; }
.crisp { shape-rendering: crispEdges; }

.leaflet-control {
  .control-button {
    text-align: center;
    cursor: pointer;
    line-height: 32px;
  }
}
.leaflet-right .leaflet-control.mapbox-control-info { margin-right: 12px; }
.leaflet-container { cursor: default; }

@keyframes locating-pulse {
  0% { icon-color: orange; }
  50% { icon-color: darkgray; }
  100% { icon-color: orange; }
}
.icon-locate-on * { icon-color: orange; }
.icon-locate-searching * { animation: locating-pulse .8s infinite ease; }

.layers-control {
  position: relative;

  .layers-menu {
    absolute: top 0 right 40px;
    width: 494px;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 10px 0 0 10px;
    box-shadow: 1px 1px 1px rgba(black, .1);

    h5 { margin: 0 0 5px; font-size: 13px; }
    h5:not(:first-child) { margin-top: 4px; }
  }

  .preview-minimap {
    position: relative;
    margin: 0 10px 10px 0;
    border: 1px solid #aaa;
    size: 150px 70px;
    float: left;

    .name { absolute: left 0 top 0; display: inline-block; padding: 1px 5px; background-color: rgba(black, .7); color: white; z-index: 10; font-size: 12px; }
    .minimap-container { size: 100%; background-color: white; }
    .minimap { size: 100%; background-color: white; }
    &.active .minimap-container { outline: 4px solid aqua; }
  }
}

.caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #555;
  vertical-align: middle;
  display: inline-block;
  size: 0;
  margin-top: -2px;
  margin-left: 2px;
}

button { cursor: pointer; padding: 2px 4px; margin-top: -2px; margin-left: -4px; border: 1px solid transparent; background: transparent; border-radius: 2px; outline: 0 none; }
button:hover { border-color: silver; }
button:active, button.active { border: 1px solid silver; box-shadow: inset 1px 1px 2px rgba(black, .1); background-color: white; }

.dropdown {
  position: relative;
  width: 100%;

  .dropdown-menu {
    absolute: top 100% left 0;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(black, .1);
    border: 1px solid silver;
    border-radius: 0 0 3px 3px;
    margin-top: -2px;
    margin-left: -4px;
    width: 100%;
    z-index: 100;

    .item { display: block; padding: 3px 6px; cursor: pointer; }
    .item:hover { background-color: lighten($secondary-color, 90%); }
  }
}

.badge { display: inline-block; size: 14px; line-height: @height; font-size: 11px; text-align: center; border-radius: 50%; background-color: transparent; cursor: pointer; }
.badge:hover { background-color: silver; }
.badge.active { background-color: $secondary-color; color: white; }
.badge.muted { background-color: #eee; }


.trailer-line { stroke-dasharray: 7 3; stroke-dashoffset: 0; animation: dash 2s linear infinite; }
@keyframes dash {
  to { stroke-dashoffset: -70; }
}

.marker-body { fill: $secondary-color; stroke: rgba(#333, .6); }
.marker-letter { fill: white; }
.end-marker .marker-body { fill: $primary-color; }
.via-marker .marker { size: 32px 26px; }
.via-marker .marker-body { fill: yellow; }

.contextmenu {
  min-width: 160px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(#000, .3);
  padding: 3px 0;
  .item {
    white-space: nowrap;
    padding: 4px 8px;
    cursor: default;
    &:hover { background-color: saturate(lighten($secondary-color, 80%), 80%); }
  }
  .static { padding: 4px 8px; white-space: nowrap; }
  .divider { border-top: 1px solid $border-color; margin: 3px 0; }
}


.nowrap { white-space: nowrap; }
.flex { display: flex; }
.auto { flex: 1; }
.v-center { align-items: center; }
.s-b { justify-content: space-between; }


/* animations */
.fade-enter { opacity: 0.01; transition: opacity .1s ease-in; }
.fade-enter.fade-enter-active { opacity: 1; }
.fade-leave { opacity: 1; transition: opacity .1s ease-in; }
.fade-leave.fade-leave-active { opacity: 0.01; }
