.toolbox {
  margin: 20px !important;
  width: $toolbox-width;

  .waypoints {
    width: 100%;
    background-color: white;
    border-radius: 3px 0 0 3px;
    position: relative;
    padding: 6px 28px 5px 12px;
    box-shadow: 2px 2px 2px rgba($text-color, .2);
  }

  .waypoint {
    position: relative;
    input { border: 0; width: 100%; font-size: 14px; padding-left 25px; line-height: 34px; outline: 0; border-bottom: 1px solid $border-color; }
    label { display: inline-block; absolute: left 1px top 9px; size: 17px; background-color: yellow; font-size: 11px; text-align: center; border-radius: 50%; color: white; }
  }
  .waypoint:first-child {
    label { background-color: $secondary-color; }
  }
  .waypoint:last-child {
    input { border-bottom-color: transparent; }
    label { background-color: $primary-color; }
  }
  .waypoint {
    input:focus { border-bottom: 1px solid $secondary-color; }
  }

  .search-button {
    absolute: right -55px top 0 bottom 0;
    width: 55px;
    background-color: $primary-color;
    border: 0;
    border-bottom: 1px solid darken($primary-color, 5%);
    border-radius: 0 3px 3px 0;
    box-shadow: 2px 2px 2px rgba($text-color, .2);
    outline: 0 none;

    &:hover { background-color: darken(@background-color, 8%); }
  }

  .swap { absolute: right 10px top 50%; margin-top: -11px; }

  .profile {
    background-color: $bg-color;
    width: 100%;
    padding: 15px 15px 12px;
    margin-top: -3px;
    border-radius: 0 0 3px 3px;
    z-index: -1;

    box-shadow: 2px 2px 2px rgba($text-color, .2);
  }
  .profile-icon { margin-top: 7px; }

  .field {
    margin-left: 18px;
    label { font-size: 11px; color: #b2b1b1; display: block; }
  }

  .profile-options {
    margin-top: 20px;
    column-count: 2;
    label { display: block; padding: 2px 0; cursor: pointer; }
  }
}


.typeahead-dropdown-menu {
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(black, .2);
  position: absolute;
  margin-top: -2px;
  z-index: 100;
  font-size: 14px;

  .item { padding: 5px 10px; cursor: pointer; }
  .item { border-top: 1px solid #eee; }
  .item.active { background-color: lighten(saturate($secondary-color, 20%), 90%); }
  .item small { color: $muted-text-color; }
}


.card {
  width: 100%;
  background-color: white;
  border-radius: 3px 0 0 3px;
  position: relative;
  padding: 6px 12px 5px;
  box-shadow: 2px 2px 2px rgba($text-color, .2);
  margin-top: 11px;
}

.info {
  width: 100%;
  background-color: yellow;
  border-radius: 3px 0 0 3px;
  position: relative;
  padding: 6px 12px 5px;
  box-shadow: 2px 2px 2px rgba($text-color, .2);
  margin-top: 11px;
}
