.toolbox {
  width: $toolbox-width;

  .waypoints {
    width: 100%;
    background-color: white;
    border-radius: 3px 0 0 3px;
    position: relative;
    padding: 6px 28px 5px 12px;
    box-shadow: 2px 2px 2px rgba($text-color, .2);
  }

  .waypoint {
    position: relative;
    input { border: 0; width: 100%; font-size: 14px; padding-left 25px; line-height: 34px; outline: 0; border-bottom: 1px solid $border-color; }
    .label { absolute: left -4px top 9px; cursor: move; cursor: -webkit-grab; cursor: -moz-grab; }
    .label .grip { vertical-align: middle; visibility: hidden; }
    .label .icon { display: inline-block; size: 17px; line-height: @height - 1; background-color: yellow; font-size: 11px; text-align: center; border-radius: 50%; color: white; }
    .label:hover .grip { visibility: visible; }

    .loading-indicator { absolute: right 2px top 8px; background-color: rgba(white, .1); display: inline-block; padding: 1px; }
    .loading-indicator svg { vertical-align: top; }

    .clear-button { absolute: right 2px top 10px; background-color: rgba(white, .1); display: inline-block; padding: 1px; opacity: 0; transition: opacity .2s ease-in-out; cursor: pointer; }
    .clear-button svg { vertical-align: top; }
    .clear-button svg .fill { fill: #d1d0d0; }
    &:hover .clear-button { opacity: 1; }
  }
  .waypoint:first-child {
    .label .icon { background-color: $secondary-color; }
  }
  .waypoint:last-child {
    input { border-bottom-color: transparent; }
    .label .icon { background-color: $primary-color; }
  }
  .waypoint {
    input:focus { border-bottom: 1px solid $secondary-color; }
  }

  .search-button {
    absolute: right -55px top 2px bottom 0;
    width: 55px;
    background-color: $primary-color;
    border: 0;
    border-bottom: 1px solid darken($primary-color, 5%);
    border-radius: 0 3px 3px 0;
    box-shadow: 2px 2px 2px rgba($text-color, .2);
    outline: 0 none;

    &:hover { background-color: darken(@background-color, 8%); }
  }

  .swap { absolute: right 10px top 50%; margin-top: -11px; cursor: pointer; }
  .swap:hover svg * { fill: gray; }

  .profile {
    background-color: $bg-color;
    width: 100%;
    padding: 15px 15px 12px;
    margin-top: -3px;
    border-radius: 0 0 3px 3px;
    z-index: -1;

    box-shadow: 2px 2px 2px rgba($text-color, .2);
  }
  .profile-icon { margin-top: 7px; }

  .field {
    margin-left: 18px;
    label { font-size: 11px; color: #b2b1b1; display: block; }
  }

  .profile-options {
    margin-top: 20px;
    column-count: 2;
    label { display: block; padding: 2px 0; cursor: pointer; }
  }

  .custom-profile-options {
    margin-top: 10px;

    label { font-size: 11px; color: #b2b1b1; }
    textarea {
      margin-top: 2px;
      border: 1px solid $border-color;
      font-size: 10px;
      font-family: monospace;
      width: 100%;
      height: 32em;
      outline: 0 none;
      padding: 3px;
      box-shadow: inset 1px 1px 1px rgba($text-color, .1);
    }
    textarea:focus { border-color: $secondary-color; }
  }
}


.typeahead-dropdown-menu {
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(black, .2);
  position: absolute;
  margin-top: -2px;
  z-index: 100;
  font-size: 14px;

  .item { padding: 5px 10px; cursor: pointer; }
  .item { border-top: 1px solid #eee; }
  .item.active { background-color: lighten(saturate($secondary-color, 20%), 90%); }
  .item small { color: $muted-text-color; }
}


.card {
  width: 100%;
  font-size: 13px;
  background-color: white;
  position: relative;
  box-shadow: 2px 2px 2px rgba($text-color, .2);
  margin-top: 11px;
  margin-bottom: 0;
  .inner {
    padding: 10px 12px 5px;
  }
  .actions {
    flex-shrink: 0;
    margin-top: 2px;

    a { display: inline-block; opacity: 0; transition: opacity .1s ease-in-out; }
    a + a { margin-left: 8px; }
    a.active, a:last-child { opacity: 1; }
    a .iconic {
      .fill { fill: #d1d0d0; }
      .stroke { stroke: #d1d0d0; }
    }
    a:hover .iconic {
      .fill { fill: gray; }
      .stroke { stroke: gray; }
    }
  }
  &:hover {
    .actions a { opacity: 1; }
  }
  .separation-dot { display: inline-block; margin: 0 5px; }

  .icon-thumb-tack { position: relative; top: 1px; }
  .actions a.active .icon-thumb-tack .fill { fill: $secondary-color; }
}

.elevation-chart {
  size: 100% 80px;
  margin: 0;
  padding: 0;
  vertical-align: top;

  .line { fill: none; stroke: saturate(lighten($secondary-color, 50%), 90%); stroke-width: 3px; }
  .area { fill: saturate(lighten($secondary-color, 80%), 90%); stroke: none; }

  .axis, .tick { stroke: #888; stroke-width: 1px; shape-rendering: crispEdges; }
  .axis-label, .tick-label { font-size: 10px; fill: #555; }
  .x-axis .tick-label { text-anchor: middle; }
  .y-axis .tick-label { text-anchor: end; }

  &.color-blue {
    $color = #3388ff;
    .line { stroke: saturate(lighten($color, 20%), 30%); }
    .area { fill: saturate(lighten($color, 80%), 90%); }
  }
  &.color-red {
    $color = #ff4136;
    .line { stroke: saturate(lighten($color, 20%), 30%); }
    .area { fill: saturate(lighten($color, 80%), -10%); }
  }
  &.color-orange {
    $color = #ff851b;
    .line { stroke: saturate(lighten($color, 20%), 0%); }
    .area { fill: saturate(lighten($color, 80%), 90%); }
  }
  &.color-purple {
    $color = #b10dc9;
    .line { stroke: saturate(lighten($color, 0%), 0%); }
    .area { fill: saturate(lighten($color, 80%), -20%); }
  }
  &.color-teal {
    $color = #39cccc;
    .line { stroke: saturate(lighten($color, 0%), 0%); }
    .area { fill: saturate(lighten($color, 50%), 10%); }
  }
  &.color-fuchsia {
    $color = #f012be;
    .line { stroke: saturate(lighten($color, 0%), 0%); }
    .area { fill: saturate(lighten($color, 50%), 10%); }
  }
  &.color-navy {
    $color = #004ba0;
    .line { stroke: saturate(lighten($color, 10%), 0%); }
    .area { fill: saturate(lighten($color, 60%), -10%); }
  }
}

.guide { stroke: #999; stroke-width: 1px; stroke-dasharray: 4 1; pointer-events: none; shape-rendering: crispEdges; }
.guide-label { font-size: 10px; background-color: rgba(white, .8); fill: #444; }
.labels-left .guide-label { text-anchor: end; }

.height-indicator {
  .guide { stroke-dasharray: none; stroke: #555; }
  circle { fill: white; stroke: #555; stroke-width: 1px; }
}


.info {
  width: 100%;
  background-color: yellow;
  border-radius: 3px 0 0 3px;
  position: relative;
  padding: 6px 12px 5px;
  box-shadow: 2px 2px 2px rgba($text-color, .2);
  margin-top: 11px;
}
