{
    "plugins": ["react"],
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 2, {"SwitchCase": 1}],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "comma-dangle": [0],
        "curly": [0],
        "no-underscore-dangle": [0],
        "camelcase": [1, {"properties": "never"}],
        "no-use-before-define": [0],
        "no-console": [1],
        "no-shadow": [0]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
}
