module.exports = {
  brouterHost: 'http://localhost:17777',
  mapboxAccessToken: 'ACCESS_TOKEN',
  maxBrouterCalculationDistance: 450000,
  maxBrouterAutoCalculationDistance: 100000,
  thunderforestAccessToken: 'ACCESS_TOKEN',
};
