<div class="layers-control" ref="el">
  <div class="leaflet-bar">
    <a class="control-button" on-click={this.toggleMenu()} title="Show layers">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="icon icon-layers" viewBox="0 0 23.303 21.461">
        <polygon points="23.303,6.333 11.652,0 0,6.333 11.652,12.667" class="fill" />
        <polygon points="11.652,14.709 2.166,9.555 0,10.732 11.652,17.063 23.303,10.732 21.137,9.555" class="fill" />
        <polygon points="11.652,19.107 2.166,13.952 0,15.127 11.652,21.461 23.303,15.127 21.137,13.952" class="fill" />
      </svg>
    </a>
  </div>

  {#if expanded}
  <div class="layers-menu">
    <div><strong>Layers</strong></div>
    {#list layers as layer}
    <PreviewMinimap map={@(this.map)} layer={layer} active="{layer === activeLayer}" on-click={this.setLayer(layer)}/>
    {/list}
    <br>

    <div><strong>Overlays</strong></div>
    {#list overlays as overlay}
    <PreviewMinimap map={@(this.map)} layer={overlay} active="{!!activeOverlays[overlay.name]}" on-click={this.toggleOverlay(overlay)}/>
    {/list}
  </div>
  {/if}
</div>
