<div class="toolbox" ref="el">
  <section class="waypoints">
    <div class="inner">
      <Sortable items={waypoints} parent={this} on-sort={this.calculateRoute()}>
        {#list items.items() as waypoint}
        <div class="waypoint" draggable="true" on-dragover="{this.dragOver($event, waypoint)}" on-dragstart="{this.dragStart($event, waypoint)}" on-drop={this.dragEnd()} on-dragend={this.dragEnd()}>
          <span class="label" on-mousedown={this.setHandle($event.origin)} on-mouseup={this.setHandle(null)}>
            <svg import="grip.svg"/>
            <span class="icon">{parent.waypointLetter(waypoint_index)}</span>
          </span>
          <input type="text" r-model={waypoint.text} typeahead={parent.typeahead(waypoint)}>
        </div>
        {/list}
      </Sortable>
    </div>

    <button class="search-button" on-click={this.calculateRoute(true)}>
      {#if loading}
      <svg import="tail-spin.svg"/>
      {#else}
      <svg import="directions.svg"/>
      {/if}
    </button>

    {#if waypoints.length === 2}
    <div class="swap" on-click={this.swap()}>
      <svg import="swap.svg"/>
    </div>
    {/if}
  </section>

  <TypeAheadMenu ref="typeahead"/>

  <section class="profile">
    <div class="flex v-center">
      <svg import="bike.svg"/>
      <div class="field" style="width: 120px">
        <label>Profile:</label>
        <div class="dropdown">
          <button r-class="{{active: showProfileDropdown}}" on-click={this.toggleProfileDropdown()}>{profile.name} <i class="caret"/></button>
          {#if showProfileDropdown}
          <div class="dropdown-menu">
            {#list profiles as profile}
            <span class="item" on-click={this.setProfile(profile)}>{profile.name}</span>
            {/list}
          </div>
          {/if}
        </div>
      </div>
      <div class="field">
        <label>Route index:</label>
        <span class="badge" r-class="{{active: alternativeidx === 0}}" on-click={this.setAlternativeIndex(0)}>1</span>
        <span class="badge" r-class="{{active: alternativeidx === 1}}" on-click={this.setAlternativeIndex(1)}>2</span>
        <span class="badge" r-class="{{active: alternativeidx === 2}}" on-click={this.setAlternativeIndex(2)}>3</span>
        <span class="badge" r-class="{{active: alternativeidx === 3}}" on-click={this.setAlternativeIndex(3)}>4</span>
      </div>

      <div class="auto"></div>

      {#if profile.options}
      <button r-class="{{active: showProfileOptions}}" on-click={this.toggleProfileOptions()}>
        <svg import="settings.svg"/>
      </button>
      {/if}
    </div>

    {#if profile.options && showProfileOptions}
    <div class="profile-options">
      {#if profile.options.indexOf('consider_elevation') > -1}<label><input type="checkbox" on-change="{this.toggleProfileOption('consider_elevation', $event)}" checked={profileOptions.consider_elevation}/> Consider elevation</label>{/if}
      {#if profile.options.indexOf('allow_steps') > -1}<label><input type="checkbox" on-change="{this.toggleProfileOption('allow_steps', $event)}" checked={profileOptions.allow_steps}/> Allow steps</label>{/if}
      {#if profile.options.indexOf('allow_ferries') > -1}<label><input type="checkbox" on-change="{this.toggleProfileOption('allow_ferries', $event)}" checked={profileOptions.allow_ferries}/> Allow ferries</label>{/if}
      {#if profile.options.indexOf('ignore_cycleroutes') > -1}<label><input type="checkbox" on-change="{this.toggleProfileOption('ignore_cycleroutes', $event)}" checked={profileOptions.ignore_cycleroutes}/> Ignore cycleroutes</label>{/if}
      {#if profile.options.indexOf('stick_to_cycleroutes') > -1}<label><input type="checkbox" on-change="{this.toggleProfileOption('stick_to_cycleroutes', $event)}" checked={profileOptions.stick_to_cycleroutes}/> Stick to cycleroutes</label>{/if}
      {#if profile.options.indexOf('avoid_unsafe') > -1}<label><input type="checkbox" on-change="{this.toggleProfileOption('avoid_unsafe', $event)}" checked={profileOptions.avoid_unsafe}/> Avoid unsafe</label>{/if}
    </div>
    {/if}
  </section>

  {#if info}<section class="info">{#include info}</section>{/if}

  {#list routes.items() as route}
  <section class="card">
    <div class="flex s-b">
      <div>
        <strong>{route.from.text}</strong> - <strong>{route.to.text}</strong>
      </div>
      <div>
        <small class="text-muted nowrap">{route.trackLength|km}</small>
      </div>
    </div>
  </section>
  {/list}
</div>
