<div class="leaflet-bar leaflet-control" ref="el">
  <a class="control-button" on-click={this.zoomIn($event)} title="Zoom in">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="icon" viewBox="0 0 32 32">
      <polyline points="8,16 24,16" stroke-linecap="round" stroke-width="5" shape-rendering="crispEdges" class="stroke"/>
      <polyline points="16,8 16,24" stroke-linecap="round" stroke-width="5" shape-rendering="crispEdges" class="stroke"/>
    </svg>
  </a>
  <a class="control-button" on-click={this.zoomOut($event)} title="Zoom out">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="icon" viewBox="0 0 32 32">
      <polyline points="8,16 24,16" stroke-linecap="round" stroke-width="5" shape-rendering="crispEdges" class="stroke" />
    </svg>
  </a>
</div>
